

<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<style type="text/css">
body {
	background-color: lightgreen;
	text-align: center
}
li {
	list-style: none
}
footer {
	margin-bottom: 0px;
	margin-top: 500px

}
</style>

<body>
	<%= yield %>
<footer>If I was a wing flavor, I would be called Awesome Sauce</footer>
</body>
</html>