
<ul>
<li>Ladies Productivity Club</li>
<li>Thursday Night Trivia</li>
<li>Mule Skinners</li>
</ul>


Information given to potential stalkers <br>


<%=Faker::Name.name%>
<%=Faker::Address.city%>
<%=Faker::Internet.email%>
<%=Faker::PhoneNumber.phone_number%>

<a href="/">Back to How Awesome I am</a>