<!DOCTYPE html>
<html>
<head>
	<title>Damn Kids</title>
</head>
<style type="text/css">


footer {
	margin-bottom: 5px;
	margin-top: 450px;
}
</style>
<body>
	<h2>Scram</h2>
	<br>
	<%= yield %>
</body>

<footer>And don't come back!</footer>
</html>