<!DOCTYPE html>
<html>
<head>
	<title>Super Happy Fun Time</title>
</head>
<style type="text/css">


footer {
	margin-bottom: 5px;
	margin-top: 450px;
}
</style>
<body>
	<h2>Super Happy Fun Time</h2>
	<br>
	<h6>We will only speak POSITIVEly here</h6>
	<%= yield %>
</body>

<footer>I'm POSITIVE I'm surrounded by morons</footer>
</html>