
<h4>Create New Post</h4>


<form action="/CreateNewPost" method="post">
	<label>Please enter the date</label>
	<input type="text" name="date">
	<br>
	<label>How many servings of fruit have you had today?</label>
	<input type="text" name="fruit">
	<br>
	<label>How many servings of veggies have you had today?</label>
	<input type="text" name="vegetables">
	<br>
	<label>How many minutes of exercise have you done today?</label>
	<input type="text" name="exercise">
	<br>
	<label>How many mnutes have you spent outside today?</label>
	<input type="text" name="fresh_air">
	<br>
	<label>How many people have you slapped today?</label>
	<input type="text" name="people_slapped">
	<br>
	<label>What have you learned?</label>
	<textarea name= "deep_thought" rows=30 cols=45 placeholder="Write Here"></textarea>
	<br>

	<input type="submit" value="Create Post">
</form>


<a href='/'>back</a>