
<h4>Damn Kids, Get Off my Lawn</h4>


<form action="/now" method="post">
	<label>Title</label>
	<input type="text" name="title">
	<br>
	<label>Back in my day...</label>
	<textarea name= "rant" rows=30 cols=45 placeholder="Damn Kids"></textarea>
	<br>

	<input type="submit" value="Create">
</form>


<a href='/'>back</a>