<style type="text/css">

ul {
	list-style:none
}
</style>




<form action="/RecentPosts" method="get">

<label><%= @posts %></label>


	<ul>
		<li></li>
		<li><button name="edit">Edit</button></li>
		<li><button name="delete">Delete</button></li>
	</ul>
</form>

<a href='/'>back</a>

