<style type="text/css">

	ul {
	list-style:none
	}
</style>


<%= @rays do |ray| %>
	<ul>
		<li>date<%=ray.date;%></li>
	</ul>
<%= end %>


<ul>
	<li></li>
	<li><button name="edit">Edit</button></li>
	<li><button name="delete">Delete</button></li>
</ul>


<a href='/'>back</a>