.container
  .row
    .col-md-4
      %h4 Facilities
      %p Search the facility database or click the link below to see a complete list of our facilities.
      = link_to "View All", facilities_path
      %br/
    .col-md-4  
      %h4 Patients
      = link_to "Patients"
      %br/
    .col-md-4  
      %h4 Medications
      = link_to "Medications"